body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../recipes/imgs/nebula.jpg);
    background-size: 300%;
    background-position: center;
    background-repeat: no-repeat;

    
    
}

#title {
    font-size: 100px;
    color: rgb(255, 251, 0);
    font-weight: bold;
    padding: auto;
    text-align: center;
    margin: auto;
    height: auto;
    width: 1000 px;
    margin-bottom: 100px;
    
    
}

.prato {
    font-size: 30px;
    color: gold;
    font-weight: bold;
    text-align: center;
    padding: auto;
    padding-bottom: 10px;
    height: auto;
    width: 300px;
    margin: auto;
    margin-bottom: 100px;
}

button {
  font-size: 30px;
  border: solid gold;
  
}


